{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        Alunos
    </h1>
</section>
<section class="content">
    <table id="result" class="display" width="100%">
      	<thead>
            <tr>
                <th>GRR (ID)</th>
                <th>Forma de ingresso - Período de ingresso</th>
                <th>Forma de evasão - Período de evasão</th>
            </tr>
        </thead>

        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td>
                    <a href="{% url 'aluno_detail' pk=aluno.pk %}">
                    {{ aluno.grr_aluno }} ({{ aluno.nome_aluno }})
                    </a>
                </td>
                <td>{{ aluno.forma_ingresso }} - {{ aluno.periodo_ingresso }}</td>
                <td>{{ aluno.forma_evasao }} - {{ aluno.periodo_evasao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}
{% endblock %}
