{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Alunos</h3>
            </div>
            <div class="box-body">
                <table id="result" class="display cell-border" width="100%">
                  	<thead>
                        <tr>
                            <th>NOME (GRR)</th>
                            <th>Forma de ingresso - Período de ingresso</th>
                            <th>Forma de evasão - Período de evasão</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for aluno in alunos %}
                        <tr>
                            <td>
                                <a href="{% url 'aluno_detail' pk=aluno.pk %}">
                                {{ aluno.nome_aluno }} ({{ aluno.grr_aluno }})
                                </a>
                            </td>
                            <td>{{ aluno.forma_ingresso }} - {{ aluno.periodo_ingresso }}</td>
                            <td>{{ aluno.forma_evasao }} - {{ aluno.periodo_evasao }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
