{% extends 'tcc/base_site.html' %}
{% load static %}

{% block content %}

{% block css %}
<!-- css datatables -->
<link rel="stylesheet" href="{% static 'datatables/datatables.min.css' %}">
<!-- css datatable -->
<link rel="stylesheet" href="{% static 'css/datatable.css' %}">
{% endblock %}

{% if user.is_authenticated %}
<section class="content-header">
    <h1>Prováveis evasores</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'alunos' %}">
                <span>Alunos</span>
            </a>
        </li>
        <li class="active">
            <a href="#">
                <span>Prováveis evasores</span>
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title pull-right">Total: {{predicoes.count}} </h3>
            </div>
            <div class="box-body">
                <table id="result" class="display cell-border" width="100%">
                  	<thead>
                        <tr>
                            <th>NOME (GRR)</th>
                            <th>Forma de ingresso - Período de ingresso</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for predict in predicoes %}
                        <tr>
                            <td>
                                <a href="{% url 'aluno_detail' pk=predict.aluno.pk %}">
                                {{ predict.aluno.nome_aluno }} ({{ predict.aluno.grr_aluno }})
                                </a>
                                <i class="fas fa-exclamation-triangle" style="color: orange;"></i>
                            </td>
                            <td>{{ predict.aluno.forma_ingresso }} - {{ predict.aluno.periodo_ingresso }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% block scripts %}
<!-- js datatables -->
<script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}" defer></script>
<!-- js assemble table using datatables -->
<script type="text/javascript" src="{% static 'js/datatable.js' %}" defer></script>
{% endblock %}

{% endblock %}
