{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        Alunos
    </h1>
</section>
<section class="content">
    <div class="div-geral">
        <h4>GRR (ID)</h4>
        <p>Forma de ingresso - Período de ingresso</p>
        <p>Forma de evasão - Período de evasão</p>
    </div>
    {% for aluno in alunos %}
    <div class="div-geral">
        <h4>
            <a href="{% url 'aluno_detail' pk=aluno.pk %}">
                {{ aluno.grr_aluno }} ({{ aluno.nome_aluno }})
            </a>
        </h4>
        <p>{{ aluno.forma_ingresso }} - {{ aluno.periodo_ingresso }}</p>
        <p>{{ aluno.forma_evasao }} - {{ aluno.periodo_evasao }}</p>
    </div>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
