{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        {{ aluno.grr_aluno }} ({{ aluno.nome_aluno }})
    </h1>
</section>
<section class="content">
    <div class="informacao">
        <!-- <p>gráfico e alguma coisa</p> -->
        <p>{{ aluno.forma_ingresso }} - {{ aluno.periodo_ingresso }}</p>
        <p>{{ aluno.forma_evasao }} - {{ aluno.periodo_evasao }}</p>
    </div>
    <div class="div-geral">
        <h4>
            Nome da disciplina | Nº de Faltas | Situação
        </h4>
    </div>
    {% for matr in matricula %}
    <div class="div-geral">
        <h4>
            <a href="{% url 'disciplina_detail' pk=matr.disciplina.pk %}">
                {{ matr.disciplina.descricao_disciplina }} ({{ matr.disciplina.codigo_disciplina }}) | {{ matr.faltas_matricula }} | {{ matr.situacao_matricula }}
            </a>
        </h4>
    </div>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
