{% extends 'adminlte/base.html' %}
{% load staticfiles %}

{% block title_outer %}
    <title>{% block title %}TCC{% endblock %}</title>
{% endblock %}

{% block meta %}
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/9691fb41a1.js"></script>
    <link rel="stylesheet" href="{% static 'css/base_site.css' %}">
{% endblock %}

{% block nav_sidebar %}
    {% include 'adminlte/lib/_main_sidebar.html' %}
{% endblock %}

{% block content %}
{% endblock %}
