{% extends 'tcc/base_site.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<section class="content-header">
    <h1>Dashboard</h1>
    <ol class="breadcrumb">
        <li class="active">
            <a href="#">
                <span>Dashboard</span>
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body with-border" id="chart">
                Hi {{ user.username }}!
            </div>
        </div>
    </div>
</section>
{% endif %}

{% block scripts %}
<!-- highcharts -->
<!-- <script src="https://code.highcharts.com/highcharts.src.js"></script> -->
<script type="text/javascript" src="{% static 'highcharts/highcharts.js' %}"></script>
<script>
    Highcharts.chart('chart', {{chart|safe}});
</script>
{% endblock %}

{% endblock %}
