{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        {{ disciplina.descricao_disciplina }} ({{ disciplina.codigo_disciplina }})
    </h1>
</section>
<section class="content">
    <table id="result" class="display" width="100%">
      	<thead>
            <tr>
                <th>Nome do aluno</th>
            </tr>
        </thead>

        <tbody>
            {% for al in alunos %}
            <tr>
                <td>
                    <a href="{% url 'aluno_detail' pk=al.aluno.pk %}">
                    {{ al.aluno.nome_aluno }} ({{ al.aluno.grr_aluno }})
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}
{% endblock %}
