{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>Importar CSV</h1>
    <ol class="breadcrumb">
        <li class="active">
            <a href="#">
                <span>Importar CSV</span>
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body with-border">
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                    	{% csrf_token %}
                        {% if msg %}
                            {% if msg == "Seu arquivo está sendo processado" %}
                            <div class="alert alert-success alert-dismissible">
                            {% else %}
                            <div class="alert alert-danger alert-dismissible">
                            {% endif %}
                                {{ msg }}
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        {% endif %}
                        <p>Faça upload de um arquivo <strong>.csv</strong> para atualizar o histórico de
                            alunos no banco de dados e atualizar a predição.</p>
                        <br>
                        <p>O arquivo deve conter os seguintes campos:</p>
                        <p style="text-align: center;">
                            ["COD_CURSO", "CH_TOTAL", "NOME_ATIV_CURRIC", "PERIODO_ITEM", "SITUACAO_ITEM",
                            "MATR_ALUNO", "COD_ATIV_CURRIC", "ANO", "MEDIA_FINAL", "NUM_FALTAS", "ID_ALUNO",
                            "PERIODO_INGRE_ITEM", "PERIODO_EVA_ITEM", "ANO_INGRESSO", "ANO_EVASAO",
                            "FORMA_EVASAO_ITEM", "FORMA_INGRE_ITEM"]
                        </p>
                        <br>
                        <label>Arquivo:</label>
                        <input type="file" name="document">
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right">Fazer Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
