{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Importar CSV</h3>
            </div>
            <div class="box-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                    	{% csrf_token %}
                        {% if msg %}
                            <p class="login-box-msg" style="color: red;">{{ msg }}</p>
                        {% endif %}
                        <label>Arquivo</label>
                        <input type="file" name="document">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Fazer Upload</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
