<html lang="pt-br">
    <head>
        <title>SEAS - Erro</title>
    </head>

    <body>
        <body>
            <div class="error">Hmmm... parece que algo deu errado</div>
            {% if user is None %}
            <p class="info">Seu login está inválido, os dados que você inseriu não estão corretos.</p>
            <p class="info-admin">Caso seu login esteja inativo, ou você não tenha uma conta entre em contato com o administrador.</p>
            {% endif %}
        </body>
    </body>
</html>
