{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        Turmas
    </h1>
</section>
<section class="content">
    <table id="example" class="display" width="100%"></table>
    <div class="div-geral">
        <h4>Data de ingresso dos alunos</h4>
        <p>Quantidade de alunos que ingressaram esse ano</p>
    </div>
    {% for turma in turmas %}
    <div class="div-geral">
        <h4>
            <a href="{% url 'turma_detail' pk=turma.periodo_ingresso %}">
                {{ turma.periodo_ingresso }}
            </a>
        </h4>
        <p>{{ turma.num_alunos }}</p>
    </div>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
