{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        <!-- {{ turma.periodo_ingresso }} -->
        Data de ingresso
    </h1>
</section>
<section class="content">
    <table id="result" class="display" width="100%">
      	<thead>
            <tr>
                <th>Aluno</th>
            </tr>
        </thead>

        <tbody>
            {% for al in alunos %}
            <tr>
                <td>
                    <a href="{% url 'aluno_detail' pk=al.pk %}">
                    {{ al.grr_aluno }} ({{ al.nome_aluno }})
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}
{% endblock %}
