{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        {{ turma.periodo_ingresso }}
    </h1>
</section>
<section class="content">
    <div class="informacao">
        <!-- <p>gráfico e alguma coisa</p> -->
    </div>
    <div class="div-geral">
        <h4>
            Nome do aluno
        </h4>
    </div>
    {% for al in alunos %}
    <div class="div-geral">
        <h4>
            <a href="{% url 'aluno_detail' pk=al.pk %}">
                {{ al.nome_aluno }} ({{ al.grr_aluno }})
            </a>
        </h4>
    </div>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
