{% extends 'tcc/base_site.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="content-header">
    <h1>
        Turma
    </h1>
</section>
<section class="content">
    <table id="result" class="display" width="100%">
      	<thead>
            <tr>
                <th>Data de ingresso</th>
                <th>Quantidade de alunos</th>
            </tr>
        </thead>

        <tbody>
            {% for turma in turmas %}
            <tr>
                <td>
                    <a href="{% url 'turma_detail' pk=turma.periodo_ingresso %}">
                    {{ turma.periodo_ingresso }}
                    </a>
                </td>
                <td>{{ turma.num_alunos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}
{% endblock %}
