{% extends 'tcc/base_site.html' %}
{% load static %}

{% block content %}

{% block css %}
<!-- css datatables -->
<link rel="stylesheet" href="{% static 'datatables/datatables.min.css' %}">
<!-- css datatable -->
<link rel="stylesheet" href="{% static 'css/datatable.css' %}">
<style media="screen">
    .alert {
        margin-top: 10px !important;
        margin-bottom: unset !important;
    }
</style>
{% endblock %}

{% if user.is_authenticated %}
<section class="content-header">
    <h1>Usuários</h1>
    <ol class="breadcrumb">
        <li class="active">
            <a href="#">
                <span>Usuários</span>
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <a href="{% url 'cadastrar_usuario' %}">
                    <button type="button" class="btn btn-primary pull-right">Adicionar usuário</button>
                </a>
            </div>
            <div class="box-body">
                <table id="result" class="display cell-border" width="100%">
                  	<thead>
                        <tr>
                            <th>Username</th>
                            <th>Primeiro nome</th>
                            <th>Último nome</th>
                            <th>E-mail</th>
                            <th>Usuário ativo</th>
                            <th>Membro da equipe</th>
                            <th>Super usuário</th>
                            <th>Grupos</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.is_active %}
                                    <i class="far fa-check-circle" style="color: green;"></i>
                                {% else%}
                                    <i class="far fa-times-circle" style="color: red;"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_staff %}
                                    <i class="far fa-check-circle" style="color: green;"></i>
                                {% else %}
                                    <i class="far fa-times-circle" style="color: red;"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_superuser %}
                                    <i class="far fa-check-circle" style="color: green;"></i>
                                {% else %}
                                    <i class="far fa-times-circle" style="color: red;"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% for group in user.groups.all %}
                                    {{ group }}<br>
                                {% endfor %}
                            </td>
                            <td style="width: 100px;">
                                <a href="{% url 'editar_usuario' pk=user.pk %}" title="Editar usuário">
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-user-edit"></i>
                                    </button>
                                </a>
                                <a href="{% url 'deletar_usuario' pk=user.username %}" title="Deletar usuário">
                                    <button type="button" class="btn btn-danger pull-right">
                                        <i class="fas fa-user-times"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% block scripts %}
<!-- js datatables -->
<script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}" defer></script>
<!-- js assemble table using datatables -->
<script type="text/javascript" src="{% static 'js/datatable.js' %}" defer></script>
{% endblock %}

{% endblock %}
