.sidebar-menu li span {
    font-size: 15px;
    margin-left: 5px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 85px !important;
}

.main-header {
    max-height: 0px !important;
}

input[type=search] {
    -webkit-appearance: searchfield !important;
}
