.helptext, ul {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
input, select {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type=checkbox] {
    width: initial !important;
    height: initial !important;
}
ul.errorlist {
    list-style-type: none;
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    border-color: #d73925;
    color: #fff !important;
    background-color: #dd4b39 !important;
}
.alert {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}
